body {
    background-color: #00539C;
    position: absolute;
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden
}

h1, h2{
    color: white;
    text-align: right;
}

.square {
    height: 1.5em;
    width: 1.5em;
    background-color: white;
    position: absolute;
}

.food {
    height: 1.5em;
    width: 1.5em;
    background-color: darkred;
    position: absolute;
}

.scoreBoard {
    display: inline-block;
    position: absolute;
    width: 11em;
    margin: 2em;
}

.boardText {
    margin: 0;
    text-align: left;
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.fadeOutAnimation{
    animation: fadeOut ease 3s;
}